<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projcet Stuka Studieruimte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />


    <!--local css-->
    <link href="css/uikit-custom.css" rel="stylesheet">

    <!-- patrick hand -->
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
</head>



<body class="uk-background-default">

    <!-- top navigation bar -->
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="index.html">Studieruimte</a>
                </li>
                <li class="uk-active">
                    <a href="http://projectstuka.org/">Project Stuka</a>
                </li>
            </ul>
        </div>
    </nav>
